<%- include('../../partials/header.ejs') %>
<div class="container pt-5 pb-4">
    <h1>Hello <%- user.fullName %></h1>
    <hr />
    <p>
      Welcome to home page of <strong>Expance Manager</strong>,here you can show
      your accounts and request of account sharing.
    </p>
    <p>
      By just click you can Accept or Reject those.And you can edit in you as
      well as patners account.
    </p>

    <!-- <div class="buttons">
      <a class="btn btn-info" href="/account/profile">Update my email</a>
      <button class="btn btn-outline-info ml-2" @click="clickOpenExampleModalButton()">Open a modal</button>
    </div> -->
  </div>
  <div class="container">
    <hr />
    <div class="container card">
      <div class="row">
        <div class="card-body col-7">
          <div class="d-flex flex-row justify-content-between">
            <h5> List of User Accounts</h5>
            <a type="button" href='<%- user.id %>/account/create' class="btn border-success rounded text-success">&#10010;</a>
          </div>
          <div class="container row">
            <%if(typeof accounts != 'undefined' && accounts.length){%>
              <% for(let i=0;i<accounts.length;i++) {%>
                <div class="col-6">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <div class="d-flex flex-row justify-content-between">
                      <h5 class="card-title"><%- accounts[i].accountName %></h5>
                      <button class="btn border-danger rounded" id="/user/<%- user.id %>/account/<%- accounts[i].id %>/delete" onclick="deleteAccountClicked(this.id)">&#10006;</button>
                      </div>
                      <p class="card-text"><%- accounts[i].accountNumber %></p>
                      <div class="row">
                        <div class="col-6">
                          <a href="/account/<%- accounts[i].id %>" class="btn btn-block btn-outline-success"> Details</a>
                        </div>
                        <div class="col-6">
                          <a href='/user/<%- user.id%>/account/edit/<%- accounts[i].id %>' class="btn btn-block btn-outline-secondary">Edit</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            <% } else {%>
              <p><strong> No Any Accounts! </strong></p>
            <% } %>
          </div>
        </div>
        <div class="card-body col-5">
          <div class="d-flex flex-row justify-content-between">
            <h5> List of Requests</h5>
            <a type="button" href="<%- user.id %>/patner/create" class="btn border-success rounded text-success">&#10010;</a>
          </div>
          <% if(typeof newReq != 'undefined' && newReq.length) {%>
            <%for(let i=0;i<newReq.length;i++){%>
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Request By <%- newReq[i].patnerEmail %></strong>
                  <a type="button" id="/user/<%- user.id %>/patner/accept/<%- newReq[i].id%>" onclick="alertAcceptClicked(this.id)" href="/user/<%- user.id %>/patner/accept/<%- newReq[i].id%>" class="close mx-5" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&check;</span>
                  </a>
                  <a type="button" id="/user/<%- user.id %>/patner/delete/<%- newReq[i].id%>" onclick="alertPatnerReject(this.id)" href="/user/<%- user.id %>/patner/delete/<%- newReq[i].id%>" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </a>
              </div>
              <%}%>
          <%}else{%>
            <p><strong> No Any New Request! </strong></p>
          <% } %>
        </div>
      </div>
      <hr />
      <div class="d-flex flex-row justify-content-between">
        <h5> List of Patner Accounts</h5>
        <a type="button" href='<%- user.id %>/patner/create' class="btn border-success rounded text-success">&#10010;</a>
      </div>
      <% if(typeof patnerWiths != 'undefined' && patnerWiths.length){ %>
      <% for(let i=0;i<patnerWiths.length;i++){%>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%-patnerWiths[i].accountNumber %></h5>
            <p class="card-text">Patner <strong><%-patnerWiths[i].accountName %> Account <strong><%- patnerWiths[i].accountNumber %></strong> Connected With You.</strong>.</p>
            <p class="card-text">If you wont to edit in account then simply click button! </p>
            <div class="row">
              <div class="col-6">
                <a href='/user/<%-user.id%>/account/<%- patnerWiths[i].accountId%>' class="btn btn-block btn-outline-success">View </a>
              </div>
              <div class="col-6">
                <button id='/user/<%- user.id%>/patner/delete/<%- patnerWiths[i].id%>' onclick="patnerDeleteClicked(this.id)" class="btn btn-block btn-outline-danger">Leave </button>
              </div>
            </div>
          </div>
        </div>
        <%}%>
      <% } else {%>
        <p><strong> No Any Patner Accounts! </strong></p>
      <% } %>
    </div>
  </div>
  <script>
    function deleteAccountClicked(url){
      let isExecuted = confirm(`Are you sure about Logout?`);
      if (isExecuted) {
        userAction = async ()=>{
        let response = await fetch(`${url}`,{
          method:'GET',
          headers:{
            'Accept': "*/*,application/json",
            'Authorization':`Bearer ${localStorage.getItem('token')}`
          }
        });
        location.reload();
      }
      userAction()
      }
    }
    function patnerDeleteClicked(url) {
      let isExecuted = confirm(`Are you sure about Logout?`);
      if (isExecuted) {
        userAction = async ()=>{
        let response = await fetch(`${url}`,{
          method:'GET',
          headers:{
            'Accept': "*/*,application/json",
            'Authorization':`Bearer ${localStorage.getItem('token')}`
          }
        });
        location.reload();
      }
      userAction()
      }
    }
  </script>
  <%- include('../../partials/footer.ejs') %>